.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-family: 'Splash', cursive;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
    
    #btn0 {
      transition: all .3s ease;
      color: #fff;
      border: 0px;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      font-size: 20px;
      background-color : transparent;
      padding: 10px;
      margin-right: 15px;
      outline: none;
      border-radius: 4px;
  }
  #btn0:hover {
      color: white;
      background-color: grey;
  }
  
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 270px;
  }
  
  .carousel-caption a {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: white;
    text-decoration: none;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
   
  #carouselImg {
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    filter: blur(10px);
  }
    
    
    
    