<form class="box" #loginForm="ngForm" (ngSubmit)="validate(loginForm.value)">
    <h1>LOGIN</h1>
    <div class="container" style="margin-top: 50px">
        <label for="uname"><b>Username</b></label>
        <input type="text" name="id" ngModel placeholder="Enter Username" id="username">
        <label for="psw"><b>Password</b></label>
        <input type="password" name="password" ngModel placeholder="Enter Password" id="password">
        <label>
            <input type="submit" value="Login">
        </label>
    </div>
    <span routerLink="/register"><a href="">Create new account</a></span>
</form>
